@import url('https://fonts.googleapis.com/css?family=Montserrat'); 
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Heebo'); 

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

button {
  background-color: unset;
  border: unset;
}