.poll-content{
    position: relative;
    width: 100w;
    height: 100vh;
    /* overflow: scroll; */
    color: white;
    font-family: 'Heebo', sans-serif;
}
.poll-content > section{
    width: 100vw;
}

.poll-content .content-top{
    height: 70vh;
    display: -webkit-flex;
    display: flex;
    background-color: rgb(51, 133, 182);
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}

.content-top .content-image{
    width: fit-content;
}
.content-top .content-image img{
    min-width: 70vmin;
    width: 41vw;
}

.content-top h2{
    font-size: 5vmax;
    padding-left: 3rem;
    min-width: 35vmin;
    width: 29vw;
    text-align: center;
}
.content-top .top-icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 12vmax;
    margin: 0.7rem 1rem;
}


.poll-content .content-bottom{
    height: 45vh;
    display: flex;
    background-color: rgb(51, 133, 182);
    align-items: center;
    justify-content: center;
}

.content-bottom .doots-content{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-bottom .doots-content img{
    width: 5vmax;
    position: relative;
}
.content-bottom .doots-content div{
    display: flex;
    align-items: center;
}

.content-bottom .doots-content div:nth-child(2){
    margin: 0 4rem;
}

.content-bottom .doots-content div:nth-child(2)::before{
    content: "";
    display: block;
    width: 5vmax;
    /* height: 1px; */
    border-top: 4px solid white;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    transform: translate(-100%, calc(-50% + 2px));
}

.content-bottom .doots-content div:nth-child(2)::after{
    content: "";
    display: block;
    width: 5vmax;
    /* height: 1px; */
    border-top: 4px solid white;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    transform: translate(95%, calc(-50% + 2px));
}

.content-bottom .nav-content-bottom{
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
}
.content-bottom .nav-content-bottom > div{
    text-align: center;
    width: 80%;
}
.content-bottom .nav-content-bottom h4{
    font-size: 3vmin;
    margin-top: 0;
}
.content-bottom .nav-content-bottom p{
    font-size: 2.3vmin;
}

.content-bottom .nav-content-bottom > span{
    display: flex;
    height: fit-content;
    align-items: center;
}
.content-bottom .nav-content-bottom img{
    width: 3vmax;
}


.poll-content .section-quest:nth-child(odd){
    background-color: rgb(194, 229, 241);
    color: rgb(82, 84, 83);
}

.poll-content .section-quest{
    height:  calc(70vh * 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(87, 180, 210);
    position: relative;
}

.poll-content .section-quest .scroll-gide{
    position: absolute;
    top: 0;
    left: 1rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2.5vmin;

}

.poll-content .section-quest .scroll-gide span{
    transform: rotate(-90deg);
    display: none;
    
}
.poll-content .section-quest:nth-child(2) .scroll-gide span{
    display: block;
}

.poll-content .section-quest .scroll-gide img{
    width: 100%;
}



.poll-content .section-quest .quest:first-child{
    margin-left: 3rem;
}
.poll-content .section-quest div:nth-last-child(2){
    margin-right: 3rem;
}

.poll-content .section-quest .quest{
    width: 28%;
    display: none;
    text-align: center;
    font-size: 16pt;
    padding: 1rem;
}

.poll-content .section-quest .quest.show {
    display: block;
}


.quest .quest-text span{
    font-weight: bold;
    font-size: 3vmin;
}

.quest .quest-text p{
    /* font-size: 14pt; */
    font-size: 2.5vmin;
}

.quest .quest-callback img{
    width: 40px;
    cursor: pointer;
    margin: 0 1rem;
}

