.challenge-content{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(51, 133, 182);
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.challenge-content .main-content{
    padding: 2rem;
    flex-grow: 1;
}

.challenge-content .footer-content{
    background: white;
    min-height: 10vmin;
    flex-shrink: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.challenge-content .footer-content button{
    margin: 0 2rem;
    font-size: 16pt;
    color: rgb(82, 84, 83);
}



.challenge-content h3{
    color: white;
}
.challenge-content h1{
    color: white;
    font-size: 30pt;
    margin-left: 0;
}
.challenge-content p{
    color: white;
    margin: 0;
}
.challenge-section-content > div{
    margin-top: 3rem; 
}

.challenge_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
}


.item-section-challenge.problema h3{
    color: white;
    font-size: 16pt;
    /* border-bottom: solid 1px #A8274E; */
    line-height: 2;
    text-transform: capitalize;
}
.item-section-challenge.necesidad h3{
    color: white;
    font-size: 16pt;
    /* border-bottom: solid 1px #C08C30; */
    line-height: 2;
    text-transform: capitalize;
}
.item-section-challenge.oportunidad h3{
    color:white;
    font-size: 16pt;
    /* border-bottom: solid 1px #4C9F38; */
    line-height: 2;
    text-transform: capitalize;
}

.item-section-challenge.problema .challenge_item {
    background-color : #A8274E; 
}
.item-section-challenge.necesidad .challenge_item {
    background-color : #C08C30;
}
.item-section-challenge.necesidad .challenge_item p {
    color: white;
}
.item-section-challenge.oportunidad .challenge_item {
    background-color : #4C9F38;
}
.item-section-challenge.oportunidad .challenge_item p {
    color: white;
}

.challenge_item {
    padding: 1rem;
    background: white;
}
.challenge_item .item-footer-check{
    display: none;
}

.challenge_item.chek-calification {
    padding-bottom: 48px;
    position: relative;
}

.challenge_item.chek-calification .item-footer-check{
    display: inherit;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}

.challenge_item.chek-calification .item-footer-check img{
    width: 29px;
}
/* 
.challenge_item p{
    color: rgb(82, 84, 83);
    color: rgb(82, 84, 83);
} */

.challenge_item.selected{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media (min-width: 768px ){
    .challenge_section {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        grid-gap: 1rem;
        grid-auto-rows: minmax(100px, auto);
    }
    .modal .modal{
        transform: translate(-100%, -100%);
        top: 50vh;
        left: 60vw;
    }
}

@media (min-width: 425px ) and (max-width: 768px ){
    .modal .modal{
        transform: translate(-100%, -60%);
    }
}

@media (min-width: 425px ){
    .challenge_section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        grid-auto-rows: minmax(100px, auto);
    }

    
}

@media (max-width: 425px ){
    .modal .modal-header{
        min-height: 13vmin !important;
    }

    .challenge-content .footer-content{
        min-height: 14vmin !important;
    }
}


/* background-color: #C08C30; -- naranja
background-color: #A8274E; -- rojo
background-color:#4C9F38; --verde */

/*item-content-challenge*/
.prioritization-item {
    /* display: flex; */
    align-items: center;
    margin: 1rem 0;

    background-color: rgb(51, 133, 182);
    padding: 1rem;
    display: block;
}

.prioritization-item > div {
    flex-grow: 1;
}

.prioritization-item > div p{
    line-height: 1.3;
    font-size: 11pt;
}

.prioritization-item .doot-calification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50px;
    flex-shrink: 1;
    flex-grow: 0;
    /* height: 100%; */
}

.prioritization-item .doot-calification span{
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 5px;
    line-height: 2;
    border-radius: 25px;
    border: solid 1px rgb(51, 133, 182);
    color: rgb(51, 133, 182);
}

.prioritization-item .doot-calification span.active{
    background-color :  rgb(51, 133, 182);
    color: white;
    transition: all ease-in 0.3s;
}


.prioritization-item  h4{
    margin: 0;
    text-transform: capitalize;
    color: white;
}
.prioritization-item > small{
    /* color: #C08C30; */
    font-weight: 100;
    display: block;
    color: white;
}
.prioritization-item > img{
    width: 6vmin;
    float: right;
    transform: translateY(-110%);
}

.modal .modal-header.problema{
    background-color: #A8274E;
}
.modal .modal-header.necesidad{
    background-color: #C08C30;
}
.modal .modal-header.oportunidad{
    background-color:#4C9F38;
}



/* background-color: #C08C30; -- naranja
background-color: #A8274E; -- rojo
background-color:#4C9F38; --verde */


.modal-footer {
    min-height: 60px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    border-top: solid 0.5px rgba(82, 84, 83, 0.9);
}

.modal-footer button {
    font-size: 12pt
}

.modal-footer button.cancel {
    color: rgb(82, 84, 83)
}

.modal-footer button.success {
    color: rgb(51, 133, 182)
}

/*MODAL*/

.main-modal-content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    box-sizing: border-box;
    z-index: 100;
}

.modal-fade{
    z-index: 1;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.modal.main-content{
    padding: 0;
    display: flex;
    flex-direction: column;
}

.modal.main-content > div{
    flex-grow: 1;
}
.modal.main-content > div:first-child,
.modal.main-content > div:last-child{
    flex-grow: 0;
    flex-shrink: 0;
}

.modal a.btn-close{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 50%);
    font-size: 14pt;
    color: white;
}

.modal > div.modal-header{
    background-color: rgb(51, 133, 182);
    min-height: 9vmin;
    font-size: 17pt;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    text-transform: capitalize;

    flex-shrink: 1;
    flex-grow: 0;
    color: white;
}

.modal .modal-body{
    padding: 0.5rem 2rem;
}

.modal .modal-body p{
    color: rgb(82, 84, 83);
}

.modal .modal-body small.md-up{
    font-size: 11pt;
}

.modal .modal-body div.content-doot-quest{
    margin-top: 2.5rem;
    font-size: 14pt;
}

.modal .modal-body div.content-doot-quest > div{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}


.modal .modal-body div.content-doot-quest span{
    font-size: 17pt;
    padding: 0 1rem;
    line-height: 2;
    border-radius: 3rem;
    border: solid 1px rgb(51, 133, 182);
    color: rgb(51, 133, 182);
}

.modal .modal-body div.content-doot-quest span.active{
    background-color :  rgb(51, 133, 182);
    color: white;
    transition: all ease-in 0.3s;
}

.content-doot-quest > hr{
    opacity: 0;
    border: transparent;
    /* margin: inherit; */
}
.content-doot-quest > hr.time-line-indicator{
    opacity: 1;
    /* width: 100%; */
    /* height: 2px;
    background-color: rgb(51, 133, 182); */
    border: solid 1.5px rgb(51, 133, 182);
    /* animation-fill-mode: forwards; */
    animation: 16s "time-line";
    width: 0%;
    margin-top: 1rem;
    align-self: flex-start;
}


@keyframes time-line{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.modal-body.intro button{
    color: rgb(51, 133, 182);
    font-size: 16pt;
    border: solid 1px rgb(51, 133, 182);
    background: none;
    border-radius: 3px;
    line-height: 2;
    padding: 0 1rem;
    margin: 1rem auto;
    display: block;
    cursor: pointer;
}