.resume-content-v2{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.top-nav-content{
  position: absolute;
  width: 100vw;
  height: 5vmin;
  top: 0;
  left: 0;
  background: white;
  padding: 1rem 2rem;
}
.top-nav-content img{
  height: 100%
}

.resume-section{
  min-width: 100vmin;
  width: 100vw;
  min-height: 100%;
  
  background-color: #F1EEDD;
  margin: auto;
  padding-top: 9vmin;
  padding-bottom: 1rem;
}

.resume-section > div{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
  align-items: start;
  padding-top: 3rem;
}


.resume-section > div > div{
  flex-grow: 1;
}

.content-nav {
  display: flex;
  width: 100%;
  height: fit-content;
}
.content-nav span {
  flex-grow: 1;
  font-size: 3.5vmin;
  text-align: center;
  line-height: 2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.content-nav span.AMBIENTAL {
  background-color: rgb(51, 133, 182);
}
.content-nav span.SOCIAL {
  background-color: rgb(235, 130, 40);
}
.content-nav span.ECONOMICO {
  background-color: rgb(75,173,132);
}


.content-aspects div:nth-child(2){
  min-height: 100px;
  border: 1px solid rgb(51, 133, 182);
  background: white;
  padding: 0.5rem;
}

.section-aspects .content-goals{
  min-height: 100px;
  border: 1px solid rgb(51, 133, 182);
  background: white;
  margin-top: 1rem;
  padding: 0.5rem;
}

.section-aspects{
  color: rgb(82, 84, 83);
  font-family: 'Heebo', sans-serif;
}


.section-aspects h3{
  margin: 0;
}