.resume-content-v2{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.top-nav-content{
  position: absolute;
  width: 100vw;
  height: 5vmin;
  top: 0;
  left: 0;
  background: white;
  padding: 1rem 2rem;
}
.top-nav-content img{
  height: 100%
}

.resume-section{
  min-width: 100vmin;
  width: 100vw;
  min-height: 100%;
  
  background-color: #F1EEDD;
  margin: auto;
  padding-top: 9vmin;
  padding-bottom: 1rem;
}

.resume-section > div{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
  align-items: start;
  padding-top: 3rem;
}


/* .resume-section > div > div{
  flex-grow: 1;
} */

.content-nav {
  display: flex;
  width: 100%;
  height: fit-content;
}
.content-nav span {
  flex-grow: 1;
  font-size: 3.5vmin;
  text-align: center;
  line-height: 2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position:relative;
  opacity: 0.5;
  transition: all 0.7s ease-in;


}
.content-nav span.active{
  opacity: 1;
}

.content-nav span.active:after{
  content:"";
  position:absolute;
  width: 2px;
  height: 4px;
  z-index:11111111;
  bottom: 0;
  left: 50%;
  /* background: antiquewhite; */
  border-top-width: 10px;
  border-top-style: solid;
  /* border-top: 10px solid; */
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: translate(-50%,100%);
}

.content-nav span.AMBIENTAL{
  background-color: rgb(51, 133, 182);
}
.content-nav span.SOCIAL{
  background-color: rgb(235, 130, 40);
}
.content-nav span.ECONOMICO{
  background-color: rgb(75,173,132);
}
.content-nav span.AMBIENTAL:after {
  border-top-color: rgb(51, 133, 182);
}
.content-nav span.SOCIAL:after {
  border-top-color: rgb(235, 130, 40);
}
.content-nav span.ECONOMICO:after {
  border-top-color: rgb(75,173,132);
}


.content-aspects div:nth-child(2){
  min-height: 100px;
  border: 1px solid rgb(51, 133, 182);
  background: white;
  padding: 0.5rem;
}


.content-aspects ul li {
  position:relative;
  line-height: 2;
  width: fit-content;
  cursor: pointer;
  text-transform: capitalize;
}

.content-aspects ul li:before {
  position: absolute;
  content:"Ver retos";
  padding: 5px 7px;
  top: 50%;
  right: 0;
  transform: translate(116%,-50%);
  width: 70px;
  line-height: 1;
  color:white;
}

.content-aspects ul li:after {
  position:absolute;
  content:"";
  top:0;
  right: 0;
  display: solid;
  top: 50%;
  transform: translate(200%, -50%);
  border-right-width: 7px;
  border-right-style: solid;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.content-aspects ul.AMBIENTAL li:before {
  background-color: rgb(51, 133, 182);
}
.content-aspects ul.SOCIAL li:before {
  background-color: rgb(235, 130, 40);
}
.content-aspects ul.ECONOMICO li:before {
  background-color: rgb(75,173,132);
}
.content-aspects ul.AMBIENTAL li:after {
  border-right-color: rgb(51, 133, 182);
}
.content-aspects ul.SOCIAL li:after {
  border-right-color: rgb(235, 130, 40);
}
.content-aspects ul.ECONOMICO li:after {
  border-right-color: rgb(75,173,132);
}



.section-aspects .content-goals{
  min-height: 100px;
  border: 1px solid rgb(51, 133, 182);
  background: white;
  margin-top: 1rem;
  padding: 0.5rem;
}

.section-aspects{
  color: rgb(82, 84, 83);
  font-family: 'Heebo', sans-serif;
  flex-grow: 1;
}

.section-aspects h3{
  margin: 0;
}


